@import 'reset';
@import 'variables';
@import 'mixins';

body {
	background-color: black;
	line-height: 0;
}

.wrapper {
	position: relative;
}

.stage {
}

.answer {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 36px;

	color: white;
	font-size: 36px;
	line-height: 1;
	text-align: center;

	pointer-events: none;
}
